@model MvcKutuphane.Models.Entity.TblKatagori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">

        @Html.LabelFor(k => k.KategoriId)
        @Html.TextBoxFor(k => k.KategoriId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(k => k.Ad)
        @Html.TextBoxFor(k => k.Ad, new { @class = "form-control" })

    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>


}

