@model MvcKutuphane.Models.Entity.TblKatagori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label> Kategori Adı</label>
        <input type="text"  class="form-control" name="Ad" />
    </div>
    <div style="margin-top:15px">
        <button class=" btn btn-info" id="BtnKatogoriEkle"> Kategori Ekle</button>
    </div>

</form>

