@model MvcKutuphane.Models.Entity.TblYazar
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label> Yazar Adı</label>
        @Html.TextBoxFor(y => y.YazarAdi, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label> Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.YazarSoyad, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label> Yazar Detay</label>
        @Html.TextAreaFor(y => y.YazarDetay, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <input type="submit" class="btn btn-info" value="Yazar Ekle"> 

    </div>
</form>

