@using MvcKutuphane.Models.Entity
@model List<TblPersonel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Personnel Adı</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var prs in Model)
    {
        <tr>
            <td>@prs.PersonelId</td>
            <td>@prs.Personel</td>
            <td><a href="~/Personel/PersonelSil/@prs.PersonelId" class="btn btn-danger">Sil</a></td>
            <td><a href="~/Personel/Personelgetir/@prs.PersonelId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="~/Personel/PersonelEkle/" class="btn btn-primary"> Yeni Personel Ekle</a>

